# Python cache
__pycache__/
*.py[cod]

# Logs
*.log

# Databases
*.db
*.sqlite3

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db